@model Catalog.Core.Entities.Publisher
@{
    ViewData["Title"] = $"Publisher: {Model.Name}";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">@Model.Id</dd>

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Country</dt>
            <dd class="col-sm-9">@(Model.Country ?? "")</dd>

            <dt class="col-sm-3">Books (@Model.Books.Count)</dt>
            <dd class="col-sm-9">
                @if (Model.Books.Any())
                {
                    @foreach (var item in Model.Books.Select((value, i) => new { book = value, index = i }))
                    {
                        <a asp-area="" asp-controller="Book" asp-action="Info" asp-route-id="@item.book.Id" class="text-dark">@item.book.Title</a>
                        if (item.index != (Model.Books.Count() - 1))
                        {
                            <span>,</span>
                        }
                    }
                }
                else
                {
                    <p>-</p>
                }
            </dd>
        </dl>
    </div>
</div>
